<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.boot.mapper.EventMapper">
	
	<insert id="addEvent" parameterType="com.sms.boot.pojo.Event">
		insert into event(user_id, event_title, note, priority, start_time, end_time) VALUES (#{e.userId}, #{e.eventTitle}, #{e.note}, #{e.priority}, #{e.startTime}, #{e.endTime})
	</insert>
	
	<select id= "queryEvent" parameterType="int" resultType="com.sms.boot.pojo.Event" > 
		select * FROM event WHERE event_id=#{id}  AND is_del=0
	</select>
	
	<update id="updateEvent"  parameterType="com.sms.boot.pojo.Event" >
		UPDATE event SET event_title=#{e.eventTitle}, note=#{e.note}, priority=#{e.priority}, start_time=#{e.startTime}, end_time=#{e.endTime} WHERE event_id=#{e.eventId}
	</update>
	
	<select id= "checkTimeConflict" parameterType="com.sms.boot.pojo.Event" resultType="com.sms.boot.pojo.Event" > 
		select * from event
		where is_del = 0 and user_id = #{e.userId} and ((#{e.startTime} <![CDATA[  < ]]> start_time and start_time <![CDATA[  < ]]> #{e.endTime})
		or (#{e.startTime} <![CDATA[  < ]]> end_time and end_time <![CDATA[  < ]]> #{e.endTime} and user_id = #{e.userId})
		or (start_time <![CDATA[  <= ]]> #{e.startTime} and #{e.endTime} <![CDATA[  <= ]]> end_time and user_id = #{e.userId}))
	</select>
	
</mapper>