<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.boot.mapper.FriendMapper">

	<insert id="addFriend" parameterType="com.sms.boot.pojo.Friend">
		insert into friend(user_id, friend_id, friend_group) VALUES (#{f.userId}, #{f.friendId}, #{f.friendGroup})
	</insert>
	
	<select id="queryAllFriends" 	parameterType="int" resultType="com.sms.boot.pojo.FriendForm"  >
		select friend.tb_friend_id, friend.user_id, friend.friend_id, friend.friend_group , user.user_name as friendName, user.user_email as friendEmail, friend.friend_group, groupN.group_color as groupColor 
		from friend, user, groupN where friend.friend_id = user.user_id and friend.user_id = #{id} and friend.is_del = 0 and groupN.group_name = friend.friend_group order by friendName;
	</select>
	
	<select id="queryOtherUsers" 	parameterType="int" resultType="com.sms.boot.pojo.User"  >
		select user_id, user_name, user_email, user_age, user_role from user where user_id not in (select friend_id from friend where friend.user_id = #{id} and friend.is_del = 0
			union
		select #{id}) order by user_name;
	</select>
	
	<select id="queryFriendsWithInfo" 	parameterType="int" resultType="com.sms.boot.pojo.User"  >
		select user_id, user_name, user_email, user_age, user_role from user where user_id in (select friend_id from friend where friend.user_id = #{id} and friend.is_del = 0);
	</select>
	
	<update id="updateFriend"  parameterType="com.sms.boot.pojo.Friend" >
		UPDATE friend SET friend_group = #{f.friendGroup} WHERE tb_friend_id = #{f.tbFriendId}
	</update>
	
	<select id="queryGroupMember" 	parameterType="com.sms.boot.pojo.Friend"  resultType="com.sms.boot.pojo.Friend"  >
		select friend_id from friend where friend_group = #{f.friendGroup} and user_id = #{f.userId} and is_del = 0 order by friend_id;
	</select>
	
</mapper>